@model EditCarouselViewModel
@{
    ViewBag.Title = "Cài đặt Slide";
    var images = ViewBag.Images as IEnumerable<CarouselImage>;
}
<form enctype="multipart/form-data" asp-controller="Dashboard" asp-action="EditCarousel" method="post">
    <div class="row form-group">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            @if (images != null)
            {
                @foreach (var image in images)
                {
                    <img src="~/images/carousel/@image.Name" height="200" class="mx-1 my-1" />
                    <a class="remove-image" asp-controller="Dashboard" asp-action="RemoveCarouselImage" asp-route-id="@image.Id" style="display: inline;">&#215;</a>
                }
            }
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
        </div>
        <div class="col-md-9 gallery">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <label asp-for="ImageFiles">Ảnh slide: </label>
        </div>
        <div class="col-md-9">
            <div class="custom-file">
                <input type="file" class="custom-file-input selectImage" asp-for="ImageFiles" id="i_file" multiple>
                <label class="custom-file-label selectImage" asp-for="ImageFiles">Chọn ảnh</label>
            </div>
            <span asp-validation-for="ImageFiles" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <a asp-controller="Dashboard" asp-action="Index" class="btn btn-secondary">Huỷ</a>
        </div>
    </div>
</form>


@section Scripts{
    <script>
        $(function () {
            var imagesPreview = function (input, placeToInsertImagePreview) {
                if (input.files) {
                    var filesAmount = input.files.length;
                    for (i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();
                        reader.onload = function (event) {
                            $($.parseHTML('<img>')).attr('src', event.target.result).attr('height', '200px').attr('class', 'mx-1 my-1').appendTo(placeToInsertImagePreview);
                        }
                        reader.readAsDataURL(input.files[i]);
                    }
                }
            };

            $('#i_file').on('change', function () {
                $("div.gallery").empty();
                imagesPreview(this, 'div.gallery');
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' tập tin được chọn');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });
        });
    </script>
}

@section RemoveImageCss{
    <style>
        .remove-image {
            display: none;
            position: absolute;
            border-radius: 10em;
            padding: 2px 6px 3px;
            text-decoration: none;
            font: 700 21px/20px sans-serif;
            background: #555;
            border: 3px solid #fff;
            color: #FFF;
            box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
            text-shadow: 0 1px 2px rgba(0,0,0,0.5);
            -webkit-transition: background 0.5s;
            transition: background 0.5s;
        }

            .remove-image:hover {
                background: #E54E4E;
                padding: 3px 7px 5px;
            }

            .remove-image:active {
                background: #E54E4E;
            }
    </style>
}