@{
    ViewBag.Title = "Quản lý sản phẩm";
}
<div class="row">
    <div class="col-12 mb-3">
        <a href="javascript:void(0);" class="btn btn-info"
           onclick="AddEditProduct()"><i class="fas fa-plus"></i> Thêm sản phẩm</a>
    </div>
</div>
<table id="productsTable" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Tên</th>
            <th>Hình ảnh</th>
            <th>Thương hiệu</th>
            <th>Thông số kỹ thuật</th>
            <th>Giá</th>
            <th>Tồn kho</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- Modal -->
<div id="addEditProduct" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <form id="addEditProductForm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-right">
                    <input hidden id="ProductId" name="ProductId">
                    <div class="row form-group">
                        <div class="col-2">
                            <label>Tên sản phẩm:</label>
                        </div>
                        <div class="col-10">
                            <input type="text" id="ProductName" name="ProductName" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2">
                            <label>Giá (₫):</label>
                        </div>
                        <div class="col-4">
                            <input type="number" id="ProductPrice" name="ProductPrice" class="form-control" data-rule-required="true">
                        </div>
                        <div class="col-2">
                            <label>Số lượng (cái):</label>
                        </div>
                        <div class="col-4">
                            <input type="number" id="ProductRemain" name="ProductRemain" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2">
                            <label>Thương hiệu:</label>
                        </div>
                        <div class="col-4">
                            <select id="ProductBrandId" name="ProductBrandId" class="form-control" data-rule-required="true">
                                <option value="">Chọn thương hiệu</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label>Danh mục:</label>
                        </div>
                        <div class="col-4">
                            <select id="ProductCategoryId" name="ProductCategoryId" class="form-control" data-rule-required="true">
                                <option value="">Chọn danh mục</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2">
                            <label>CPU:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="ProductCPU" name="ProductCPU" class="form-control" data-rule-required="true">
                        </div>
                        <div class="col-2">
                            <label>Màn hình:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="ProductScreen" name="ProductScreen" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2">
                            <label>Hệ điều hành:</label>
                        </div>
                        <div class="col-10">
                            <input type="text" id="ProductOS" name="ProductOS" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2">
                            <label>Camera sau:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="ProductRearCamera" name="ProductRearCamera" class="form-control" data-rule-required="true">
                        </div>
                        <div class="col-2">
                            <label>Camera trước:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="ProductFrontCamera" name="ProductFrontCamera" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2">
                            <label>Ram (GB):</label>
                        </div>
                        <div class="col-4">
                            <input type="number" id="ProductRam" name="ProductRam" class="form-control" data-rule-required="true">
                        </div>
                        <div class="col-2">
                            <label>Rom (GB):</label>
                        </div>
                        <div class="col-4">
                            <input type="number" id="ProductRom" name="ProductRom" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2">
                            <label>Bài viết mô tả:</label>
                        </div>
                        <div class="col-10">
                            <textarea id="ProductDescription" name="ProductDescription" class="form-control" data-rule-required="true" placeholder="Viết bài mô tả sản phẩm" rows="55"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-primary" onclick="product.save()">Lưu</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

@section datatablejs{
    <environment include="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
        <script src="~/lib/bootbox.js/bootbox.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    </environment>
}
@section datatablecss{
    <environment include="Development">
        <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    </environment>
}
@section lightboxjs{
    <environment include="Development">
        <script src="~/lib/ekko-lightbox/ekko-lightbox.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    </environment>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
}
@section lightboxcss{
    <environment include="Development">
        <link href="~/lib/ekko-lightbox/ekko-lightbox.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet" />
    </environment>
}

@section tinyMCE{
    <environment include="Development">
        <script src="~/lib/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: 'textarea',
                theme: 'modern',
                plugins: ['advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons paste textcolor colorpicker textpattern imagetools'
                ],
                toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons',
                image_advtab: true,
                content_css: ['//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
                    '//www.tinymce.com/css/codepen.min.css'
                ]
            });
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.9.11/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: 'textarea',
                theme: 'modern',
                plugins: ['advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons paste textcolor colorpicker textpattern imagetools'
                ],
                toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons',
                image_advtab: true,
                content_css: ['//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
                    '//www.tinymce.com/css/codepen.min.css'
                ]
            });
        </script>
    </environment>
}