@{ 
    ViewBag.Title = "404: Không tìm thấy trang - ";
}
<div id="main">
    <div class="fof">
        <h1>Lỗi 404: Không tìm thấy trang!</h1>
    </div>
</div>
@section PageNotFound
{
    <link href="~/lib/css/Home404.css" rel="stylesheet" />
}