@model Brand
@{
    ViewBag.Title = "Thêm mới thương hiệu sản phẩm";
}
<form asp-controller="BrandsManager" asp-action="Create" method="post">
    <div class="row form-group">
        <div class="col-md-3">
            <label asp-for="Name">Tên thương hiệu: </label>
        </div>
        <div class="col-md-9">
            <input asp-for="Name" class="form-control" placeholder="Nhập tên thương hiệu">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <a asp-controller="BrandsManager" asp-action="Index" class="btn btn-secondary mx-3">Huỷ</a>
        </div>
    </div>
</form>

@section ValidateScript
{
    <environment include="Development">
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    </environment>
}