@{ 
    ViewBag.Title = "Không có quyền truy cập!";
}
<h2 class="text-danger">@ViewBag.Title</h2>
<p class="alert alert-danger">Bạn không có quyền truy cập vào trang này!</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Trở về trang chủ</a>