@model ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}
<div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body rounded bg-light">
                <div class="row my-4">
                    <div class="col-2 mx-auto">
                        <img src="~/images/logo.png" alt="Thế giới điện thoại" width="40" />
                    </div>
                    <div class="col-10">
                        <h3 class="card-title text-center">@ViewBag.Title</h3>
                    </div>
                </div>
                <form class="form-signin" asp-controller="Account" asp-action="ChangePassword" method="post">
                    <div>Mật khẩu cũ:</div>
                    <div class="form-label-group">
                        <input asp-for="Password" class="form-control" placeholder="Nhập vào mật khẩu hiện tại">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>Mật khẩu mới:</div>
                    <div class="form-label-group">
                        <input asp-for="NewPassword" class="form-control" placeholder="Nhập vào mật khẩu mới">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div>Xác nhận:</div>
                    <div class="form-label-group">
                        <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Nhập lại mật khẩu mới">
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đổi mật khẩu</button>
                </form>
                <div asp-validation-summary="All" class="text-danger mt-3"></div>
            </div>
        </div>
    </div>
</div>
@section LoginCSS
{
    <link href="~/lib/css/LoginCSS.css" rel="stylesheet" />
}
@section ValidateScript
{
    <environment include="Development">
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    </environment>
}