USE [master]
GO
/****** Object:  Database [ShopDienThoai]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE DATABASE [ShopDienThoai]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopDienThoai', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\ShopDienThoai.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopDienThoai_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\ShopDienThoai_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopDienThoai].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopDienThoai]
GO
/****** Object:  Schema [xuantrung_SQLLogin_1]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE SCHEMA [xuantrung_SQLLogin_1]
GO
/****** Object:  Schema [xuantrung48_SQLLogin_1]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE SCHEMA [xuantrung48_SQLLogin_1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppSettings]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[ShortDesc] [nvarchar](max) NULL,
	[DefaultRoleId] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AppSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[ProfilePicture] [nvarchar](max) NULL,
	[Name] [nvarchar](30) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarouselImages]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarouselImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_CarouselImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[CustomerName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageId] [nvarchar](450) NOT NULL,
	[ImageName] [nvarchar](max) NULL,
	[ProductId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderId] [nvarchar](450) NOT NULL,
	[ProductId] [nvarchar](450) NOT NULL,
	[Price] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderDetailId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [nvarchar](450) NOT NULL,
	[CustomerId] [nvarchar](450) NULL,
	[OrderTime] [datetime2](7) NOT NULL,
	[CompleteTime] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[Remain] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Screen] [nvarchar](max) NULL,
	[CPU] [nvarchar](max) NULL,
	[OS] [nvarchar](max) NULL,
	[RearCamera] [nvarchar](max) NULL,
	[FrontCamera] [nvarchar](max) NULL,
	[Ram] [int] NULL,
	[Rom] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200628141846_InitDb', N'3.1.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200628144051_CreateBrandsCategoriesProductsTable', N'3.1.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200628163500_AddDataToDatabase', N'3.1.5')
GO
SET IDENTITY_INSERT [dbo].[AppSettings] ON 

INSERT [dbo].[AppSettings] ([Id], [Title], [Logo], [Icon], [ShortDesc], [DefaultRoleId]) VALUES (1, N'Thế giới điện thoại', N'f4c2cdc8-1b71-4409-ac08-9f3487326a22.png', N'02197ba3-e08d-44f3-ba85-0ceb443ea609.png', N'Cửa hàng điện thoại, tablet, laptop lớn nhất Việt Nam', N'5618587c-b2ff-4560-ac22-ffe602726e07')
SET IDENTITY_INSERT [dbo].[AppSettings] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'5618587c-b2ff-4560-ac22-ffe602726e07', N'Customer', N'CUSTOMER', N'e80628d7-8c98-43ac-b3ef-5ded1cf16744')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'ef7c1968-94e5-4d0d-bcdd-4d7134b2948d', N'Admin', N'ADMIN', N'b8227ff7-6cde-40ef-91cc-1bb1fac940ae')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'24548a02-2399-4fde-a01d-53f3edd2abd3', N'5618587c-b2ff-4560-ac22-ffe602726e07')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4645f35b-5260-422c-ad56-650001ef6a42', N'5618587c-b2ff-4560-ac22-ffe602726e07')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'76e5098a-68d2-4477-b4c5-d06e4d0a1c64', N'5618587c-b2ff-4560-ac22-ffe602726e07')
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandId], [Name], [IsDeleted]) VALUES (7, N'Samsung', 0)
INSERT [dbo].[Brands] ([BrandId], [Name], [IsDeleted]) VALUES (8, N'Apple', 0)
INSERT [dbo].[Brands] ([BrandId], [Name], [IsDeleted]) VALUES (9, N'VSmart', 0)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[CarouselImages] ON 

INSERT [dbo].[CarouselImages] ([Id], [Name]) VALUES (5, N'50b6034e-f89a-4310-bd24-273595a35262.jpg')
INSERT [dbo].[CarouselImages] ([Id], [Name]) VALUES (6, N'0e32cea6-00cb-4354-b9f3-44ef643db523.jpg')
INSERT [dbo].[CarouselImages] ([Id], [Name]) VALUES (14, N'b4cbfb85-bd13-4cf7-b7e2-92a85197c19b.jpg')
SET IDENTITY_INSERT [dbo].[CarouselImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [IsDeleted]) VALUES (6, N'Điện thoại', 0)
INSERT [dbo].[Categories] ([CategoryId], [Name], [IsDeleted]) VALUES (7, N'Máy tính bảng', 0)
INSERT [dbo].[Categories] ([CategoryId], [Name], [IsDeleted]) VALUES (8, N'Laptop', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[Customers] ([CustomerId], [UserId], [CustomerName], [PhoneNumber], [Address]) VALUES (N'1ca82314-194e-411b-abc2-15e054c35349', N'4645f35b-5260-422c-ad56-650001ef6a42', N'Lee Kim Trammm', N'0944081535', N'11drdsts')
INSERT [dbo].[Customers] ([CustomerId], [UserId], [CustomerName], [PhoneNumber], [Address]) VALUES (N'25395e38-c287-4703-a891-0e53f3cc51dc', NULL, N'Trung Nguyen', N'0702004004', N'33/39 Đào Duy Anh')
INSERT [dbo].[Customers] ([CustomerId], [UserId], [CustomerName], [PhoneNumber], [Address]) VALUES (N'37767a6f-c785-41a3-bd07-e93608a32987', N'd29f6461-2c8c-49ac-af37-ebf503658951', N'Trung Nguyen', N'0702004004', N'28 NTP')
GO
INSERT [dbo].[Images] ([ImageId], [ImageName], [ProductId]) VALUES (N'04e023bf-b786-4d57-8bce-fb748f26048a', N'4d2f73d5-6a86-4f2e-bea6-0ae3a2122b43.jpg', N'ef52c85a-b00f-47b1-929b-b5bd9edfef77')
INSERT [dbo].[Images] ([ImageId], [ImageName], [ProductId]) VALUES (N'0baa4bc6-7f14-4a8a-8527-447c657111b2', N'cca0f769-8d87-463e-bdca-38ba7948f169.jpg', N'621648d5-022f-48f2-8ebf-f923f820c353')
INSERT [dbo].[Images] ([ImageId], [ImageName], [ProductId]) VALUES (N'0ed76704-ecd4-4dd1-a04f-dc0b126a4891', N'f6b8257f-6681-42ea-97bc-b37dcdd74de2.png', N'f5c695ef-0c1d-44c4-a94c-9952b68a5ff2')
GO
INSERT [dbo].[OrderDetails] ([OrderId], [ProductId], [Price], [Quantity], [OrderDetailId]) VALUES (N'00dee1ec-231b-4f34-9655-39009703fedf', N'105dccc3-512e-4279-82cc-dc90b7b80aeb', 5840000, 1, N'16d78b25-ca7e-49e5-8fc3-7e2f84862b3d')
INSERT [dbo].[OrderDetails] ([OrderId], [ProductId], [Price], [Quantity], [OrderDetailId]) VALUES (N'9e06b465-2ca7-4acb-bc8a-ce7039f1181d', N'105dccc3-512e-4279-82cc-dc90b7b80aeb', 5840000, 1, N'1e06d6ed-fbbe-4b99-8fc5-eccdc140111a')
INSERT [dbo].[OrderDetails] ([OrderId], [ProductId], [Price], [Quantity], [OrderDetailId]) VALUES (N'57860eaa-cb68-49ba-a7b5-3436e60f5fb6', N'2e8f5c6a-326d-4c51-8b69-12cba1bec13b', 3320000, 1, N'44263975-8a53-4977-ad16-ca590b16b43c')
GO
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderTime], [CompleteTime], [Status], [Note]) VALUES (N'00dee1ec-231b-4f34-9655-39009703fedf', N'7302fa23-ec07-4701-88a9-19e10e2d5a97', CAST(N'2020-07-07T18:38:20.4167483' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, NULL)
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderTime], [CompleteTime], [Status], [Note]) VALUES (N'1a0fcea3-7c02-41a8-acaa-29feebaf3c6d', N'37767a6f-c785-41a3-bd07-e93608a32987', CAST(N'2020-07-07T19:48:56.9941931' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1, N'Đơn hàng đã được chuyển đến đối tác giao hàng.')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderTime], [CompleteTime], [Status], [Note]) VALUES (N'277b4904-f38a-4a03-9bea-96a18fd7b014', N'e0887595-0a47-434f-a321-102150bef5ff', CAST(N'2020-07-13T01:29:45.5468263' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_UserId]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Customers_UserId] ON [dbo].[Customers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Images_ProductId]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Images_ProductId] ON [dbo].[Images]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderDetails_ProductId]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductId] ON [dbo].[OrderDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_CustomerId]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerId] ON [dbo].[Orders]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_BrandId]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Products_BrandId] ON [dbo].[Products]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 25/07/2020 5:24:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT (N'') FOR [OrderDetailId]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedTime]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Products_ProductId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([BrandId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands_BrandId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
/****** Object:  StoredProcedure [dbo].[DeleteBrand]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 15/07/2020
-- Description:	Remove Brand
-- =============================================
CREATE PROCEDURE [dbo].[DeleteBrand]
	@BrandId INT
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = N'Có lỗi trong quá trình thực hiện, xin hãy thử lại!'
	BEGIN TRY
		DECLARE @BrandName NVARCHAR(200) = (SELECT [Name] FROM Brands WHERE @BrandId = BrandId)
		UPDATE [Brands] SET IsDeleted = 1 WHERE BrandId = @BrandId
		SET @Message = CONCAT(N'Thương hiệu ', @BrandName, N' đã được xoá thành công!')
		SELECT @BrandId as BrandId, @Message AS [Message]
	END TRY
	BEGIN CATCH
		SELECT @BrandId as BrandId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteCategory]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 19/07/2020
-- Description:	Remove Category by id
-- =============================================
CREATE PROCEDURE [dbo].[DeleteCategory]
	@CategoryId INT
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = N'Có lỗi trong quá trình thực hiện, xin hãy thử lại!'
	BEGIN TRY
		DECLARE @CategoryName NVARCHAR(200) = (SELECT [Name] FROM Categories WHERE @CategoryId = CategoryId)
		UPDATE [Categories] SET IsDeleted = 1 WHERE CategoryId = @CategoryId
		SET @Message = CONCAT(N'Danh mục ', @CategoryName, N' đã được xoá thành công!')
		SELECT @CategoryId as CategoryId, @Message AS [Message]
	END TRY
	BEGIN CATCH
		SELECT @CategoryId as CategoryId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteImage]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 15/07/2020
-- Description:	Remove Image
-- =============================================
CREATE PROCEDURE [dbo].[DeleteImage]
	@ImageId INT
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = N'Có lỗi trong quá trình thực hiện, xin hãy thử lại!'
	BEGIN TRY
		DECLARE @ImageName NVARCHAR(200) = (SELECT [ImageName] FROM Images WHERE @ImageId = ImageId)
		DELETE FROM [Images] WHERE ImageId = @ImageId
		SET @Message = N'Ảnh đã được xoá thành công!'
		SELECT @ImageId as ImageId, @Message AS [Message]
	END TRY
	BEGIN CATCH
		SELECT @ImageId as ImageId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 22/07/2020
-- Description:	Remove Product
-- =============================================
CREATE PROCEDURE [dbo].[DeleteProduct]
	@ProductId INT
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = N'Có lỗi trong quá trình thực hiện, xin hãy thử lại!'
	BEGIN TRY
		DECLARE @ProductName NVARCHAR(200) = (SELECT [Name] FROM Products WHERE @ProductId = ProductId)
		UPDATE Products SET IsDeleted = 1 WHERE ProductId = @ProductId
		SET @Message = CONCAT(N'Sản phẩm ', @ProductName, N' đã được xoá thành công!')
		SELECT @ProductId as ProductId, @Message AS [Message]
	END TRY
	BEGIN CATCH
		SELECT @ProductId as ProductId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[GetBrand]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 15/07/2020
-- Description:	Get brand by id
-- =============================================
CREATE PROCEDURE [dbo].[GetBrand]
	@BrandId INT
AS
BEGIN
	IF (NOT EXISTS(SELECT * FROM Brands WHERE IsDeleted = 0 AND BrandId = @BrandId))
	BEGIN
		RAISERROR('Brand is not exists!', 1, 100)
		RETURN
	END

	SELECT * FROM Brands WHERE IsDeleted = 0 AND BrandId = @BrandId
END
GO
/****** Object:  StoredProcedure [dbo].[GetBrands]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 15/07/2020
-- Description:	Get Brands
-- =============================================
CREATE PROCEDURE [dbo].[GetBrands]
AS
BEGIN
	SELECT * FROM Brands WHERE IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetCategories]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 19/07/2020
-- Description:	Get All Categories
-- =============================================
CREATE PROCEDURE [dbo].[GetCategories]
AS
BEGIN
	SELECT * FROM Categories WHERE IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetCategory]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 19/07/2020
-- Description:	Get Category by id
-- =============================================
CREATE PROCEDURE [dbo].[GetCategory]
	@CategoryId INT
AS
BEGIN
	IF (NOT EXISTS(SELECT * FROM Categories WHERE IsDeleted = 0 AND CategoryId = @CategoryId))
	BEGIN
		RAISERROR('Category is not exists!', 1, 100)
		RETURN
	END

	SELECT * FROM Categories WHERE IsDeleted = 0 AND CategoryId = @CategoryId
END
GO
/****** Object:  StoredProcedure [dbo].[GetImage]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 15/07/2020
-- Description:	Get Image by id
-- =============================================
CREATE PROCEDURE [dbo].[GetImage]
	@ImageId INT
AS
BEGIN
	IF (NOT EXISTS(SELECT * FROM Images WHERE ImageId = @ImageId))
	BEGIN
		RAISERROR('Image is not exists!', 1, 100)
		RETURN
	END

	SELECT * FROM Images WHERE ImageId = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[GetImages]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 15/07/2020
-- Description:	Get Images
-- =============================================
CREATE PROCEDURE [dbo].[GetImages]
AS
BEGIN
	SELECT * FROM Images
END
GO
/****** Object:  StoredProcedure [dbo].[GetImagesByProductId]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 24/07/2020
-- Description:	Get Images by productId
-- =============================================
CREATE PROCEDURE [dbo].[GetImagesByProductId]
	@productId VARCHAR(50)
AS
BEGIN
	SELECT * FROM Images WHERE ProductId = @productId
END
GO
/****** Object:  StoredProcedure [dbo].[GetProduct]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 24/07/2020
-- Description:	Get product by id
-- =============================================
CREATE PROCEDURE [dbo].[GetProduct]
	@ProductId INT
AS
BEGIN
	IF (NOT EXISTS(SELECT * FROM Products WHERE IsDeleted = 0 AND ProductId = @ProductId))
	BEGIN
		RAISERROR('Product is not exists!', 1, 100)
		RETURN
	END

	SELECT * FROM Products WHERE IsDeleted = 0 AND ProductId = @ProductId
END
GO
/****** Object:  StoredProcedure [dbo].[GetProducts]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Trung
-- Create date: 24/07/2020
-- Description:	Get Products
-- =============================================
CREATE PROCEDURE [dbo].[GetProducts]
AS
BEGIN
	SELECT * FROM Products WHERE IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SaveBrand]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveBrand]
	@BrandId INT,
	@Name NVARCHAR(50)
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = N'Có lỗi trong quá trình thực hiện, vui lòng thử lại!'
	BEGIN TRY
		--Create new Brand
		IF(@BrandId IS NULL OR @BrandId = 0)
		BEGIN
			INSERT INTO [dbo].[Brands]
			   ([Name])
			VALUES
			   (@Name)
		
			SET @BrandId = SCOPE_IDENTITY()
			SET @Message = CONCAT(N'Thương hiệu ', @Name, N' đã được tạo thành công!')

		END
		ELSE --Update Brand by Id
		BEGIN
			UPDATE [dbo].[Brands]
			   SET [Name] = @Name
			 WHERE BrandId = @BrandId
			SET @Message = CONCAT(N'Thương hiệu ', @Name, N' đã được cập nhật thành công!')
		END

		SELECT @BrandId AS BrandId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SET @BrandId = 0
		SELECT @BrandId AS BrandId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SaveCategory]    Script Date: 25/07/2020 5:24:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveCategory]
	@CategoryId INT,
	@Name NVARCHAR(50)
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = N'Có lỗi trong quá trình thực hiện, vui lòng thử lại!'
	BEGIN TRY
		--Create new Category
		IF(@CategoryId IS NULL OR @CategoryId = 0)
		BEGIN
			INSERT INTO [dbo].[Categories]
			   ([Name])
			VALUES
			   (@Name)
		
			SET @CategoryId = SCOPE_IDENTITY()
			SET @Message = CONCAT(N'Danh mục ', @Name, N' đã được tạo thành công!')

		END
		ELSE --Update Category by Id
		BEGIN
			UPDATE [dbo].Categories
			   SET [Name] = @Name
			 WHERE CategoryId = @CategoryId
			SET @Message = CONCAT(N'Danh mục ', @Name, N' đã được cập nhật thành công!')
		END

		SELECT @CategoryId AS CategoryId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SET @CategoryId = 0
		SELECT @CategoryId AS CategoryId, @Message AS [Message]
	END CATCH
END
GO
USE [master]
GO
