<div class="row">
    <div class="col-12 mb-3">
        <a href="javascript:void(0);" class="btn btn-info"
           onclick="AddEditBrand()">Create</a>
    </div>
</div>
<table id="brandsTable" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Tên thương hiệu</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- Modal -->
<div id="addEditBrand" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="frmAddEditdepartment">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm mới thương hiệu</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <input hidden id="BrandId" name="BrandId">
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Tên thương hiệu:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="BrandName" name="BrandName Name" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Đóng</button>
                    <a href="javascript:;" class="btn btn-danger" onclick="home.save()">Lưu</a>
                </div>
            </div>
        </form>
    </div>
</div>